* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

.container {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  /* display: block; */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.child {
  scroll-snap-align: start;
  /* border-right: 1px solid white; */
  /* padding: 1rem; */
  text-align: center;
  position: relative;
  min-width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.half {
  height: 50vh;
  width: 100vw;
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.signature {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
}

.top {
  object-position: center bottom;
}

.bottom {
  object-position: center top;
}
